// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// https://niri-wm.github.io/niri/Configuration:-Introduction

// Input device configuration.
// https://niri-wm.github.io/niri/Configuration:-Input

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd


//INPUT STUFF
input {

    disable-power-key-handling

    keyboard {
        //rate speed/input for when key starts to repeat
        repeat-rate 35 
        repeat-delay 200
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).
            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
            options "caps:capslock"
        }
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
        scroll-method "two-finger"
        scroll-factor 0.3
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    //warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}


// https://niri-wm.github.io/niri/Configuration:-Outputs
output "Samsung Display Corp. ATNA40CU05-0  Unknown" {
    // Match the panel by EDID identity because connector numbers change with GPU probe order.
    mode "2880x1800@60.001"
    transform "normal"
    scale 1.75
    position x=0 y=0

    // Uncomment this line to disable this output.
    // off

    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    
    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
}


// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    gaps 10
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // New window default column width
    default-column-width { proportion 0.5; }

    focus-ring {
        //off
        // How many logical pixels the ring extends out from the windows.
        width 1.5

        // Color of the ring on the active and inactive monitors
        active-color "#7fc8ff"
        inactive-color "#505050"

        //active-gradient from="#80c8ff" to="#c7ff7f" angle=45
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off
        width 1.5
        active-color "#ffc87f"
        inactive-color "#505050"
        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        //on
        // By default, the shadow draws only around its window, and not behind it.
        // Softness controls the shadow blur radius.
        softness 30
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=0 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}




// Note that running niri as a session supports xdg-desktop-autostart, which may be more convenient to use.

//DAEMON+PROCESS STARTUPS
spawn-at-startup "quickshell"
spawn-at-startup "mako"
spawn-at-startup "awww-daemon"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "swayidle" "-w" \
    "timeout" "270" "$HOME/.config/quickshell/scripts/display-control.sh save-brightness && $HOME/.config/quickshell/scripts/display-control.sh set-brightness 10%" "resume" "$HOME/.config/quickshell/scripts/display-control.sh restore-brightness" \
    "timeout" "300" "$HOME/.config/quickshell/scripts/lock.sh" \
    "timeout" "400" "niri msg action power-off-monitors" "resume" "niri msg action power-on-monitors" \
    "timeout" "500" "systemctl suspend-then-hibernate" \
    "before-sleep" "$HOME/.config/quickshell/scripts/lock.sh"
  
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}
gestures{
    hot-corners{
        off
    }
}

//SCREENSHOT PATH
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

//ANIMATIONS
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    //slowdown 0.1
}


//WINDOW RULES
// https://niri-wm.github.io/niri/Configuration:-Window-Rules
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="waypaper"
    open-floating true
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}


//BINDS
binds {
    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument. It's passed verbatim to `sh -c`.

    //OVERVIEW
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    //SYSTEM
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+D hotkey-overlay-title="Run an Application: rofi" { spawn-sh "pkill rofi || exec rofi -show drun"; }
    Mod+E hotkey-overlay-title="Open the file manager: thunar" {spawn-sh "pkill thunar || exec thunar"; } 
    Super+Alt+L hotkey-overlay-title="Lock the Screen: Quickshell" { spawn-sh "$HOME/.config/quickshell/scripts/lock.sh"; }
    Mod+W { spawn "sh" "-c" "pkill -x waypaper || waypaper"; }

    //AUDIO and BRIGHTNESS
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh volume raise"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh volume lower"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh volume mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh microphone mute"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh brightness raise"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh brightness lower"; }
    XF86KbdBrightnessUp   allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh keyboard raise"; }
    XF86KbdBrightnessDown allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh keyboard lower"; }

    //MEDIA
    // Example media keys mapping using playerctl, this will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh media play-pause"; }
    XF86AudioPause       allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh media play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh media stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh media previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "$HOME/.config/quickshell/scripts/osd-control.sh media next"; }


    //SCREENSHOT
    F6 { screenshot; }

    //FOCUS WINDOWS
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }
    
    //MOVE WINDOWS
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    //MOVE WORKSPACES
    Mod+U             { focus-workspace-down; }
    Mod+I             { focus-workspace-up; }
    Mod+Shift+U        { move-column-to-workspace-down; }
    Mod+Shift+I        { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+U   { move-workspace-down; }
    Mod+Ctrl+Shift+I   { move-workspace-up; }



    //monitor stuff 
    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }
    Mod+Ctrl+Shift+Left  { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+Down  { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+Up    { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+Right { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+H     { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+J     { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+K     { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+L     { move-column-to-monitor-right; }

    //MOUSE STUFF
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft  { move-column-left; }

    // You can refer to workspaces by index. However, keep in mind that niri is a dynamic workspace system, 
    // so these commands are kind of "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost (empty) workspace.
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on will all refer to the 3rd workspace.
    //FOCUS WORKSPACES 
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    // Cycle through widths set in preset-column-widths.
    Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // While maximize-column leaves gaps and borders around the window,
    // maximize-window-to-edges doesn't: the window expands to the edges of the screen.
    // This bind corresponds to normal window maximizing,
    // e.g. by double-clicking on the titlebar.
    Mod+M { maximize-window-to-edges; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+Shift+W { toggle-column-tabbed-display; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }


    //QUIT AND POWER OFF MONITORS
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}
