[Unit]
Description=Synchronize ASUS profile with the current power source
Requires=asusd.service
After=asusd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/asus-power-profile-sync event
RuntimeDirectory=asus-power-profile-sync
RuntimeDirectoryPreserve=yes

NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
