[Unit]
Description=Synchronize ASUS profile with the current power source
Documentation=https://asus-linux.org/manual/asusctl-manual/
Requires=asusd.service
After=asusd.service
ConditionPathExists=/usr/bin/asusctl
ConditionPathExists=/usr/libexec/asus-power-profile-sync

[Service]
Type=oneshot
ExecStart=/usr/libexec/asus-power-profile-sync configure

NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
